.area{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(253, 61, 61)33, 31, 40);
}
.text{
    text-align: center;
}
.area2{
    display: flex;
    justify-content: 150px;
    align-items: center;
    color: rgb(92, 1, 80);
}